


















#imageInput::file-selector-button, .btnupload{
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}
#imageInput::file-selector-button{
    background-color: #3898db;
}
.btnupload{
    background-color: darkblue;
}
#imageInput::file-selector-button:hover, .btnupload:hover{
    background-color: crimson;
}
#message{
    text-align: center;
    font-size: 1.2rem;
    color: rgb(70,70,70);
    font-style: italic;
}
.subtitle{color: darkblue;}
.gallery{display: flex; flex-wrap: wrap;}
.card{
    margin: 10px;
    text-align: center;
    width: 300px;
    overflow: hidden;
    border-radius: 8px;
}