<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploader App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='imguploader_style.css') }}">
</head>
<body>
    <h1 class="title">Upload image by Muhammad Zahoor</h1>
    <form id="uploadform">
        <input type="file" name="image" id="imageInput" required>
        <button type="submit" class="btnupload">Upload</button>
    </form>
    
    <p id="message">testing</p>

    <h2 class="subtitle">Gallery</h2>  
    <div class="gallery" id="gallery">
        <div class="card">
            <img src="{{ url_for('static', filename='uploads/nyc.jpg') }}" alt="NYC Image">
        </div>
    </div>


    <script src="{{ url_for('static', filename='imguploader_script.js') }}"></script>
</body>
</html>